# Stimulation Sequence Definition
-SetStimulationSequenceName "Condition_1"
-SetStimulationSequenceEntry "5" 0  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "6" 0  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "3" 263000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "4" 263000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "11" 527000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "12" 527000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "10" 755000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "11" 755000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "15" 1000000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "16" 1000000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "4" 1266000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "5" 1266000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "13" 1536000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "14" 1536000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "3" 1786000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "4" 1786000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "5" 2001000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "6" 2001000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "10" 2250000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "11" 2250000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "3" 2455000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "4" 2455000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "12" 2685000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "13" 2685000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "5" 2935000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "6" 2935000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "7" 3205000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "8" 3205000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "13" 3466000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "14" 3466000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "1" 3702000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "2" 3702000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "16" 3959000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "17" 3959000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "16" 4190000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "17" 4190000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "12" 4463000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "13" 4463000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "7" 4738000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "8" 4738000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "14" 5003000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "15" 5003000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "3" 5232000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "4" 5232000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "5" 5466000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "6" 5466000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "11" 5684000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "12" 5684000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "11" 5943000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "12" 5943000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "5" 6210000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "6" 6210000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "16" 6479000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "17" 6479000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "8" 6721000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "9" 6721000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "6" 6966000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "7" 6966000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "8" 7177000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "9" 7177000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "11" 7445000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "12" 7445000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "3" 7679000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "4" 7679000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "10" 7894000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "11" 7894000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "6" 8162000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "7" 8162000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "14" 8419000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "15" 8419000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "13" 8686000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 10
-SetStimulationSequenceEntry "14" 8686000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -10
-SetStimulationSequenceEntry "12" 8907000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "13" 8907000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "3" 9158000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 30
-SetStimulationSequenceEntry "4" 9158000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -30
-SetStimulationSequenceEntry "1" 9408000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "2" 9408000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
-SetStimulationSequenceEntry "8" 9617000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 50
-SetStimulationSequenceEntry "9" 9617000  B:\mltask\stochasticStimV2\test_1000uV\wavFiles\160us_1Hz.wav 3 -50
# Channel Configuration
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 10 10 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 15 15 7000 10
-SetStimulationSequenceChannelConfiguration 16 16 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 14 14 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 10 10 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 7 7 7000 10
-SetStimulationSequenceChannelConfiguration 8 8 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 14 14 7000 10
-SetStimulationSequenceChannelConfiguration 1 1 7000 10
-SetStimulationSequenceChannelConfiguration 2 2 7000 10
-SetStimulationSequenceChannelConfiguration 16 16 7000 10
-SetStimulationSequenceChannelConfiguration 17 17 7000 10
-SetStimulationSequenceChannelConfiguration 16 16 7000 10
-SetStimulationSequenceChannelConfiguration 17 17 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 7 7 7000 10
-SetStimulationSequenceChannelConfiguration 8 8 7000 10
-SetStimulationSequenceChannelConfiguration 14 14 7000 10
-SetStimulationSequenceChannelConfiguration 15 15 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 5 5 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 16 16 7000 10
-SetStimulationSequenceChannelConfiguration 17 17 7000 10
-SetStimulationSequenceChannelConfiguration 8 8 7000 10
-SetStimulationSequenceChannelConfiguration 9 9 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 7 7 7000 10
-SetStimulationSequenceChannelConfiguration 8 8 7000 10
-SetStimulationSequenceChannelConfiguration 9 9 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 10 10 7000 10
-SetStimulationSequenceChannelConfiguration 11 11 7000 10
-SetStimulationSequenceChannelConfiguration 6 6 7000 10
-SetStimulationSequenceChannelConfiguration 7 7 7000 10
-SetStimulationSequenceChannelConfiguration 14 14 7000 10
-SetStimulationSequenceChannelConfiguration 15 15 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 14 14 7000 10
-SetStimulationSequenceChannelConfiguration 12 12 7000 10
-SetStimulationSequenceChannelConfiguration 13 13 7000 10
-SetStimulationSequenceChannelConfiguration 3 3 7000 10
-SetStimulationSequenceChannelConfiguration 4 4 7000 10
-SetStimulationSequenceChannelConfiguration 1 1 7000 10
-SetStimulationSequenceChannelConfiguration 2 2 7000 10
-SetStimulationSequenceChannelConfiguration 8 8 7000 10
-SetStimulationSequenceChannelConfiguration 9 9 7000 10
